In [1]:
import pandas as pd

In [3]:
df = pd.read_json('artists.json')

In [4]:
df.head()

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

In [6]:
df.drop('bio', axis=1, inplace=True)

In [8]:
df.set_index('name', inplace=True)

In [9]:
df.head()

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican
Claude Monet        1840 - 1926                 Impressionism      French
Rene Magritte       1898 - 1967      Surrealism,Impressionism     Belgian

In [ ]:
df.to_csv('artists.csv')