In [5]:
%pip install lxml

Requirement already satisfied: lxml in /usr/local/python/3.10.4/lib/python3.10/site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [9]:
res = pd.read_html('fifa_players.html')
print(len(res))

1

In [10]:
df = pd.DataFrame(res[0])
df.head()

,Unnamed: 0,Unnamed: 1,OVR-POT,Name,Preferred Positions,Age,Hits,Unnamed: 7
0,NaN,NaN,7587,Erling Braut HÃ¥land,ST,19,245,NaN
1,NaN,NaN,9393,Cristiano Ronaldo,STLW,34,185,NaN
2,NaN,NaN,9494,Lionel Messi,RWCFST,32,178,NaN
3,NaN,NaN,8995,Kylian MbappÃ©,STRW,20,137,NaN
4,NaN,NaN,8492,Jadon Sancho,RMLM,19,125,NaN

In [12]:
df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 7'], axis=1, inplace=True)

In [18]:
most_hits_player = df.sort_values(by='Hits', ascending=False).head()
most_hits_player

   OVR-POT                   Name Preferred Positions  Age  Hits
0     7587  Erling Braut  HÃ¥land                  ST   19   245
1     9393      Cristiano Ronaldo                STLW   34   185
2     9494           Lionel Messi              RWCFST   32   178
3     8995         Kylian MbappÃ©                STRW   20   137
4     8492           Jadon Sancho                RMLM   19   125